html {
  box-sizing: border-box;
  font-family: 'helvetica neue';
  font-weight: 200;
}

body {
  margin: 0;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  box-shadow: inset 5px 5px rgba(255, 255, 255, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition:
    font-size 0.7s ease-in,
    flex 0.7s ease-in,
    background 0.2s;
}

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

.panel > *{ /*all direct children*/
  margin: 0;
  width: 100%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.72);
  flex: 1 0 auto;
  /*center text inside the p*/
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 500ms; /*???*/
}

.panel > *:first-child{
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}



.panel.open {
  flex-grow: 5;
  font-size: 3.5rem;
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
}
